{% extends 'locations/base/base.html' %}

{% load static %}

{% block title %} You registered successfully !{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'locations/styles/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}Thanks for signing up !{% endblock %}

{% block body %}
<section id="confirmation">
    <h2>You registered successfully !</h2>
    <p>Thanks for signing up - see you at the location !</p>
</section>

<section id="continue">
    <p>Of course you can sign up for mre than one location !</p>
    <p><a href="/locations" class="btn"> Explore our Locations</a></p>
</section>
{% endblock %}